body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    color: white;
    padding: 20px;
}

.header-nav {
    margin-right: 20px;
    padding: 10px;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
}

.header-nav ul li {
    text-decoration: none; 
    padding: 5px 10px; 
    display: inline;
    margin: 0 10px;
}

.header-nav ul li a {
    font-weight: bold;
    color: white; 
    text-decoration: none; 
}

.photo_profile{
    width: 300px; 
    height: auto; 
}

.section-about {
    padding: 20px;
    margin: 20px;
}

.about, .portfolio, .contact {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 30%;
    margin: 10px;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
